Life/static-US26-SF-travel/web_imgs/32.jpeg filter=lfs diff=lfs merge=lfs -text
static/TianyiChen_CV[[:space:]](7).pdf filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/49.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US25-UCSB/web_imgs/2.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/20.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/49.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/26.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/27.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/28.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/46.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/47.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/4.jpeg filter=lfs diff=lfs merge=lfs -text
static/mushyokutense.mp4 filter=lfs diff=lfs merge=lfs -text
static/TianyiChen_CV_One_Page.pdf filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/15.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/5.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/24.png filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/5.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/36.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/6.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/43.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/15.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/21.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/25.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/8.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/20.png filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/27.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/45.jpeg filter=lfs diff=lfs merge=lfs -text
static/project-imgs filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/10.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/11.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/36.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/15.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/22.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/39.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/7.png filter=lfs diff=lfs merge=lfs -text
static/resume.pdf filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/9.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/47.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/30.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/44.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/1.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/19.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/1.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/28.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/38.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/48.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/12.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/39.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/23.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/8.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/16.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/40.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/10.png filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/14.png filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/6.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/26.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US25-UCSB/web_imgs/1.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/18.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/2.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/34.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US25-UCSB/original_imgs/9.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/17.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/31.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US25-UCSB/web_imgs/6.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US25-UCSB/web_imgs/9.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/13.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/16.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/21.png filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/26.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/19.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/44.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/32.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/48.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/7.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/25.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/42.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/23.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/42.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/20.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/2.png filter=lfs diff=lfs merge=lfs -text
Life/static-US25-UCSB/web_imgs/8.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/41.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/43.jpeg filter=lfs diff=lfs merge=lfs -text
static/Tianyi[[:space:]]Chen.jpg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/41.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/18.png filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/22.png filter=lfs diff=lfs merge=lfs -text
Life/static-US25-UCSB/web_imgs/7.jpeg filter=lfs diff=lfs merge=lfs -text
static/TianyiChen_CV_Full.pdf filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/33.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/11.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/16.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/17.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/18.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/37.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/13.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/14.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/40.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/4.png filter=lfs diff=lfs merge=lfs -text
Life/static-US25-UCSB/web_imgs/5.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/21.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/12.png filter=lfs diff=lfs merge=lfs -text
Life/static-US25-UCSB/web_imgs/4.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/12.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/25.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/33.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/35.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/11.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/31.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/46.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/3.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US25-UCSB/web_imgs/3.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/3.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/5.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/3.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/38.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/4.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/9.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/37.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/24.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/6.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/1.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/22.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/23.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/29.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/14.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/9.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/19.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/2.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/45.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/24.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/29.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/7.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/10.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/35.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/17.png filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/8.png filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/27.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/web_imgs/30.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US26-SF-travel/original_imgs/34.jpeg filter=lfs diff=lfs merge=lfs -text
Life/static-US23-24NAU/web_imgs/13.png filter=lfs diff=lfs merge=lfs -text
