body{
    background-color: rgba(255, 255, 255, 0.553);
    max-width: 1100px;
    margin: 1% auto;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    max-width: 1100px;
    margin: 0 auto;
    position: absolute;
    top: 5%;
    padding: 2%;
    border-radius: 2%;
}

a{
    color: rgb(93, 93, 197);
    text-decoration: none;
}

object{
    max-width: 100%;
}

a:hover{
    color: rgb(147, 113, 29);
}

.section{
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2,1fr);
    row-gap: 0.5%;
    margin: 2%;
}

#name{
    color: rgb(91, 91, 131);
}

#video{
    position: fixed;
    z-index: -100;
    right: 1px;
    top: -1px;
}

#selfie{
    width: 30%;
}

#selfie img{
    width: 150%;
    position: relative;
    right: 90%;
}
.project{
    width: 35vw;
}
.project img{
    width: 30vw;
}
nav{
    background-color: rgba(255, 255, 255, 0.553);
}

#navigationbar{
    display: flex;
    flex-direction: row;
    z-index: 100;
    position:fixed;
    top: 2%;
}

#navigationitems{
    padding: 3%;
    text-align:justify;
    font-size: small;
}

#CV{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#CV object{
    width: 80%;
    height: 40vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Download{
    font-size: medium;
}

#email-NA{
    color: rgb(162, 162, 215);
}

#github{
    position: relative;
    top: -23px;
    left: 220px;
}

#life{
    text-align: left;
}
  
/*this is the page settings for mobile devices (tablet,phones) which resolution is less than 800px and greater than 400px */
@media all and (max-width: 800px) {

    #navigationbar{
        transform: scale(0.9,0.9);
        transform-origin: left;
    }
    
    #navigationitems{
        transform: scale(0.9,0.9);
        transform-origin: left;
    }

    img{
        transform: matrix(0.8,0,0,0.8,0,0);
        transform-origin: left;
    }
    #Education{
        transform: scale(0.9,0.9);
        transform-origin: left;
    }
}

/* this is the settings for smaller moble devices which resolution is less than 400px */
@media all and (max-width: 350px) {

    img{
        display: none;
    }
    iframe{
        display: none;
    }
    object{
        display: none;
    }

    #selfie img{
        width: 90%;
        display: inline-block;
    }

    #navigationbar{
        display: none;
    }

}

